body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    gap: 1rem;
    
}
li{
    list-style: none;
}
#green{
    cursor: pointer;
    padding: 4px 8px;
    background-color: green;
    border-radius: 7px;

}

#red{
    padding: 4px 8px;
    cursor: pointer;
    background-color: red;
    border-radius: 7px;

}

#yellow{
    padding: 4px 8px;
    cursor: pointer;
    background-color: yellow;
    border-radius: 7px;
}